<h1>Blackjack</h1>

<% if @play_again %>
<p>
  <strong>Play again?</strong>
  <a href="/bet" class="btn btn-inverse">Yes</a>
  <a href="/game_over" class="btn">No</a>
</p>
<% end %>

<div class='well'>
<h5>Dealer's cards:</h5>
  <% session[:dealer_hand].each_with_index do |card, i| %>
    <% if session[:turn] != "Dealer" && i == 0 %>
      <img src='/images/cards/cover.jpg'>
    <% else %>
      <%= display_card(card) %>
    <% end %>
  <% end %>
</div>

<% if @show_dealer_button %>
  <p>Dealer's total is <%= calculate_hand(session[:dealer_hand]) %>.  Dealer must hit.</p>
  <form action='/game/dealer/hit' method='post' id='dealer'>
  <input type='submit' value="See Dealer's next card" class='btn btn-primary'>
  </form>
<% end %>

<div class='well'>
<h5><%= session[:player_name]%>'s cards:</h5>
  <% session[:player_hand].each do |card| %>
    <%= display_card(card) %>
  <% end %>
</div>

<%= session[:player_name] %>'s total is <%= calculate_hand(session[:player_hand]) %>.  Your bet this round is <%= session[:bet] %>

<p>
<% if @show_hit_or_stay_buttons %>
  <form action='/game/player/hit' method='post' id='hit'>
  <input type='submit' value='Hit' class='btn btn-success'>
  </form>

  <form action='/game/player/stay' method='post' id='stay'>
  <input type='submit' value='Stay' class='btn'>
  </form>
<% end %>
</p>